<p>user index</p>

<div class="navbar navbar-expand-lg navbar-light bg-light">

  <%= link_to "Log Out", destroy_user_session_path, method: :delete %>
  <%= link_to "Security", edit_user_registration_path %>
  <%= link_to "Profile", edit_user_path(current_user) %>

</div>

<em> welcome <%= current_user.email %> </em>

<%= form_with scope: :post, url: posts_path,local: true do |form| %>

  <p>Add Post</p>

  <%= form.text_area :title, placeholder: "title" %><br>
  <%= form.text_area :content, placeholder: "Post something ..." %><br>

  <div>
    <%= form.submit "Post" %>
  </div>

<% end %>

<% @posts.each do |post| %>
    <ul>
    <a href="<%=post_path(post)%>">
      <div>
        <p> <%= post.title %> </p>
        <p> <%= post.content %> </p>
      </div>
    </a>
  </ul>
<% end %>



<% @users.each do |user| %>

    <% if user.id != current_user.id%>
    <ul id="eachUser">

    <a href="<%=user_path(user)%>">
      <div>
        <em> <%= user.email %> </em>
      </div>
    </a>

    <% end %>
  </ul>
<% end %>